.auth_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.auth_container > form {
  width: 400px;
  height: 300px;
  background-color: #000000;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.auth_container > form > h2 {
  color: rgb(255, 255, 255);
}

.input_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input_container > label {
  color: white;
}

.select_registration_auth {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 102, 139);
  cursor: pointer;
  transition: 0.5s all;
}

.select_registration_auth:hover {
  transition: 0.5s all;
  color: rgb(0, 187, 255);
}

.btn {
  transition: 0.5s all;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #007004;
}

.btn:hover {
  transition: 0.5s all;
  color: #00cf07;
}

.spinner {
  margin-top: 100px;
  animation: spinner 1s infinite linear;
  width: 40px;
  height: 40px;
  color: rgb(177, 177, 177);
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
