.container {
  width: 100%;
  height: 60px;
  background-color: rgb(218, 218, 218);
  border-bottom: 1px solid rgb(96, 96, 96);
}

.content_container {
  padding: 10px 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_sport > .active,
.content_container > .active {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.4s;
  font-weight: 600;
}
.container_sport > .noActive,
.content_container > .noActive {
  text-decoration: none;
  color: rgb(94, 93, 93);
  transition: all 0.4s;
  font-weight: 600;
}

.content_container > .noActive:hover,
.container_sport > .noActive:hover {
  color: rgb(7, 7, 7);
  transition: all 0.4s;
  font-weight: 600;
}

.container_sport {
  display: flex;
  align-items: center;
  gap: 100px;
}

.exit {
  cursor: pointer;
  text-decoration: none;
  color: rgb(94, 93, 93);
  transition: all 0.4s;
  font-weight: 600;
}

.exit:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.4s;
  font-weight: 600;
}
