.container {
  margin: 60px;

  display: flex;
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 30%;
  margin-right: 50px;
}

.content_container > .noActive {
  text-decoration: none;
  color: rgb(140, 135, 135);
  transition: all 0.4s;
  font-size: 25px;
  font-weight: 900;
}

.content_container > .noActive:hover {
  text-decoration: none;
  color: rgb(230, 230, 230);
  transition: all 0.4s;
}

.content_container > .active {
  transition: all 0.4s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 900;
}

.right_content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  border-left: 1px solid wheat;
}

.select_exercise {
  width: 70%;
  text-align: center;
}

.select_exercise > h1 {
  margin: 250px 300px 0 0;
  color: #cbcbcb;
}
